*{
    margin: auto;
    padding: 0;
}
#wrapper{
    width: 100%;
    margin: auto;
    background-color: #f7f7f7;
}
/* start header */
header.sticky{
    opacity: 0.8;
    z-index: 10;
    position: relative;
}
.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #0056a3;
    display: inline-flex;
    transition: all 0.5s ease-in-out;
}

.logo{
    padding-left: 70px;
}

/* menu */
.menu ul{
    color: white;
}
.menu ul li{
  display: inline-block;
 
}
.menu ul li a{
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 700;
}
.menu ul li a:hover{
    color: #b5b7ff; 
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
}
.menu li ul{
    position: absolute;
    padding-left: 20px;
    width: 150px;
    line-height: 30px;
    display: none;
}
.menu li:hover ul{
    display: block;
    background-color: #565ad3;
}
.menu li ul li a:hover{
    color: #c1c3fd;
}


/* seach */
.seach-box{
    margin-top: -70px;
    width: 640px;
    height: 29px;
    background-color: #f7f7f7;
    border-radius: 30px;
}
.seach-box .seach-text{
   width: 90%;
   height: 25px;
   border-radius: 30px;
   border: none;
   outline: none;
   padding-right: 20px;
   font-size: 18px;
   margin-left: 10px;
   margin-top: 2px;
}
.seach-box .seach-btn{
    cursor: pointer;
    float: right;
    width: 29px;
    height: 29px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}
/* banner */
.img{
   background-image: url(./img/B0202.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 190px;
}
.img1{
    margin-top: -300px;
    padding-bottom: 50px;
    padding-left: 30px;
}
/* button */
.nd-right{
    float: right;
    padding: 485px 200px 50px 100px;
    margin-right: 50px;
}
.nd-right button{
    width: 217px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #1279d3;
    font-size: 16px;
    color: aliceblue;
}
.nd-right button:hover{
    background-color: #e1e6eb;
    color: rgb(26, 24, 24);
    font-weight: 700;
    cursor: pointer;
}

/* end header */
.content{
    background-color: #f7f7f7;
    margin: 10px;
    
}
.content h1.title{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 4, 255);
    text-align: center;
    padding: 10px 0px;
}
.content h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    color: #454aff;
    font-size: 20px;
}
.content p{
    line-height: 27px;
    font-size: 18px;
}
hr{
    width: 100%;
    height: 1px;
    margin-bottom: 5px;

}
.content-text{
    width: 85%;
}
.map{
    text-align: center;
}
/* silder-show */
.content-slider{
    position: relative;
}
#diving{
    text-align: center;
    z-index: 0;
}

.iconL{
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 50px;
    cursor: pointer;
}

.iconR{
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 50px;
    cursor: pointer;
}
#bigImg{
    width: 500px;
    height: 450px;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 110px;
    left: 200px;
    z-index: 1000; 
    display: none;
}
#bigImg img{
    width: 500px;
    height: 450px;
} 
/* menu dưới */
.atl {
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    font-size: 20px;
    line-height: 35px;
    font-variant: small-caps;
    font-weight: 600;
    
}
.atl ul li{
    color: rgb(21, 40, 255);
}
.atl ul li a{
    text-decoration: none;
    color: rgb(21, 40, 255);
}
.atl ul li a:hover{
    text-decoration: underline;
    color: blue;
    font-size: 21px;
}
.img-lg{
    padding-left: 20px;
}
/* icon */
.icon{
    text-align: center;
    font-size: 25px;
    
}
.icon li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.icon li i{
    color: #1c609f;
}
.icon li i:hover{
    color: rgb(21, 40, 255);
}
/* end section,article */
.footer{
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 20px;
}
.footer cite{
    line-height: 25px;
    font-weight: 600;
    font-style: normal;
    color: rgb(21, 40, 255);
}

